@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.Container {
  width: 100%;
  height: 100%;
  /* background-color: rgb(90, 13, 13); */
  display: flex;
  flex-direction: row;

}
.left {
  width: 60%;
padding: 10px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  
  /* border: 1px solid black; */
  display: flex;
  
  justify-content: start;
  align-items: center;
  padding: 10px 50px;
}
.title {
  font-size: 32px;
}

.main {
  width: 100%;
  height: 80%;
  /* border: 1px solid black; */
}

.footer {
  width: 100%;
  height: 10%;
  padding: 10px 18%;
  display: flex;
  flex-direction: row;

  justify-content: end;
  align-items: flex-start;

  /* border: 2px solid black; */
}
.cancleBtn {
  width: 150px;
  background-color: transparent;
  color: #c2c2c2;
  border: 2px solid #cecece;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1rem;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  height: 35px;
  font-weight: 500;
}
.addjbBtn {
  width: 150px;
  background-color: #ed5353;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  height: 35px;
  font-weight: 500;
}

.right {
  width: 40%;
  height: auto;
  background-image: url("../../assets/addjob.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.right .leftTitle {
  font-size: 35px;
  width: 100%;
  height: 20%;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  font-family: "DM Sans", sans-serif;
  color: #525252;
  font-weight: 500;
  margin-top: 1rem;
}
#sign {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}
/* Tablet styles */
@media (max-width: 1024px) {
    .Container {
      flex-direction: column; /* Stack vertically */
    }
  
    .left {
      width: 100%; /* Full width for the left section */
    }
  
   
    .right {
      display: none; /* Hide right image/container on mobile */
    }
  
  }
  
  /* Mobile styles */
  @media (max-width: 376px) {
    .Container {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .left {
      width: 100%; /* Full width for the left section */
      padding: 10px; /* Adjust padding for smaller devices */
    }
  
    .right {
      display: none; /* Hide right image/container on mobile */
    }
  
    .title {
      font-size: 24px; /* Adjust font size for mobile */
    }
  
    .cancleBtn,
    .addjbBtn {
      width: 100%; /* Full width for buttons on mobile */
      height: 40px; /* Adjust button height */
    }
  }